
@import url('https://fonts.cdnfonts.com/css/qebab-shadow-ffp');
@import url('https://fonts.cdnfonts.com/css/future-socialism');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');
@import url('https://fonts.cdnfonts.com/css/grover-heavy');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');


body { 
    
    background: url(../images/disclaimer.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
                                    
  }
  
  
 
  h1 {
    font-size: 80px;
    
    text-align: center;
    font-family: 'Qebab Shadow FFP', sans-serif;
    background-color:antiquewhite;                                        
    color: black;
    
  }
  
  h2 {
    font-size: 40px;
    
    text-align: center;
    font-family: 'Grover Heavy', sans-serif;                                            
    background-color: antiquewhite;                                        
    color: black;
     
    
  }

  h3 {
    font-size: 100px;
    text-align: center;
    font-family: 'Grover Heavy', sans-serif;                                            
    color: black;

  }
  h4 {
    font-size: 50px;
    text-align: center;
    font-family: 'Grover Heavy', sans-serif;                                            
    color: black;

  }
  h5 {
    font-size: 50px;
    text-align: center;
    font-family: 'Grover Heavy', sans-serif;                                            
    color: black;

  }
  
  p{
    font-size: medium;
    position: absolute;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;  
  }
   .center {
    
   
    margin-block-start: auto;
    position: absolute;
    margin-left: 50%;
       
  } 
  
  

  section{
    padding:2rem;
  }

  
  .button {
    background-color:blue;
    color: red;
    border:none;
    text-align: inline-block;
    font-family: 'Grover Heavy', sans-serif;
    border-radius:10px;
    box-shadow: 10px 10px 5px 2px rgb(248, 245, 245);
    padding: 10px 200px;
    font-size: 50px;
  }
  .rainbow{
    background-color:blue;
    color: black;
    border:none;
    text-align: center;
    font-family: 'Future Socialism', sans-serif;
    border-radius:10px;
    box-shadow: 10px 10px 5px 2px rgb(248, 245, 245);
    padding: 10px 20px;
    font-size: 70px;
    
    
  }
  .rainbow-2:hover{
    background-image: linear-gradient(to right,antiquewhite, white,pink,yellow, white);
    animation:slidebg 2s linear infinite;
  }
  .popup {
    position: relative;
    
    display: inline-flex;
    cursor: help;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 400px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
  
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(211, 25, 102) transparent transparent transparent;
  }
  
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  

  

  
 
 
  


  