
@import url('https://fonts.cdnfonts.com/css/qebab-shadow-ffp');
@import url('https://fonts.cdnfonts.com/css/future-socialism');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');
@import url('https://fonts.cdnfonts.com/css/grover-heavy');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');


body { 
    
    background: url(../images/disclaimer.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
                                    
  }
  
  
 
  h1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Qebab Shadow FFP', sans-serif;                                           
    color: rgb(17, 15, 15);
    
  }
  
  h2 {
    font-size: 20px;
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Grover Heavy', sans-serif;                                            
    color: rgb(6, 7, 7);
    
  }

  h3 {
    font-size: 20px;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: black;
    margin-right: 60rem;
    margin-left: 60rem;
    padding: auto;
    background-color: antiquewhite;
    border-radius: 2rem;

  }
  .message{
    
    background-color: aliceblue;
    
    color: black;
    margin-bottom: 20rem;
    text-align: center;
    font-size: 100rem;

  }

  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

  

  .products .box-container{

    display:grid;
    grid-template-columns:repeat(auto-fit, 40rem);
    text-align: center;
    padding:2rem;
    
    

  }

  .products .box-container .box{
    padding:5rem;

  }

  
  .btn,
  .option.btn,
  .delete.btn{

    display:center;
    width: 50%;
    text-align: center;
    background-color:rgb(255, 0, 0);
    background-color:rgb(89, 0, 255);
    color: black;
    font-size: 2rem;
    padding: .9rem rem;
    font-family: 'Grover Heavy', sans-serif;
    
  }

  
  .button {
    background-color:blue;
    color: red;
    border:none;
    text-align: center;
    font-family: 'Grover Heavy', sans-serif;
    border-radius:10px;
    box-shadow: 10px 10px 5px 2px rgb(248, 245, 245);
    padding: 10px 20px;
    font-size: 25px;
  }

  .product-display{
    margin:2rem 0;
    text-align: center;
    font-size: 20rem;
  }

  .product-display .product-display-table{
    width: 80rem;
    margin: 15rem;
    margin-top: 5rem;
    font-size: 3rem;
    background-color:aliceblue;
    text-align: center;
  
  }
  
  .popup {
    position: relative;
    display: inline-flex;
    cursor: help;
    border-radius: 2rem;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 1800px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
    background-color:aliceblue;
    color: black;
    text-align:auto;
    border-radius: 20px;
  
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 30%;
    margin-left: -10px;
    margin-top: 100px;
    
    
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
  
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(211, 25, 102) transparent transparent transparent;
  }
  
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2px;
    padding-bottom: 70px;
    background-color: #f44336;
 }
  
 
 
  
  

  

  
 
 
  


  